extend layout
block head
  script(src='client.js')
block content
  div.tests
block sidebar
  .widget
    h1 Configuration
    div.input
      span.label(for='cycles') Cycles
      input(type="text", name="cycles", id="cycles", value="3")
      span.label(for='slowMotion') Slow Motion
      input(type="checkbox", name="slowMotion", id="slowMotion")
    
    h1 Tests
    div.checkTests

    div.buttons
      input(type="button", name="process", id="process", value="Process")