doctype
html
  head
    title #{title} - Performance testing to draw circles
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    header
      h1 Performance testing to draw circles
    .container
      .sidebar
        block sidebar
      .main-content
        block content
    footer
      p Running on node with Express, Jade and Stylus
